

.content-account p {
    margin-top: 8%;
    margin-bottom: 8%;
    line-height: 25px;
}

.accordion-box {
    margin-bottom: 10px;
}

.accordion-header {
    font-family: 'GowunDodum-Regular';
    width: 70%;
    background: #87626217;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.95rem;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    color: #4e4e4e;
    margin: 0 auto;
}

.accordion-slide-wrapper {
    overflow: hidden;
    width: 70%;
    transition: max-height 0.4s ease;
    margin: 0 auto;
}

.accordion-inner {
    padding-top: 5px;
}

.account-row {
  display: flex;
  justify-content: space-between; /* 버튼 오른쪽 끝 */
  align-items: flex-start;        /* account-info 위쪽 정렬 */
  background: white;
  padding: 12px;
  margin-top: 5px;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.account-info {
  display: flex;
  flex-direction: column; /* 위: 은행/계좌, 아래: 이름 */
  align-items: flex-start; /* 둘 다 왼쪽 정렬 */
  gap: 4px; /* 위/아래 간격 */
}

.account-bank,
.account-name {
  text-align: left;
}
.copy-btn {
    padding: 6px 10px;
    border: none;
    background: #87626217;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
    color: #7b4d44;
}