.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-modal {
    background: white;
    border-radius: 8px;
    box-shadow: inset;
    padding: 20px;
    position: relative;
}

.modal-close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
}

.contactDiv {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding-bottom: 5%;
}

.contactDiv :nth-child(1) {
    font-weight: 400;

}

.contactDiv :nth-child(2) {
    font-weight: 500;
    font-size: 1.1em;
    padding-bottom: 1vh;
}