.container {
  margin: 40px auto;
  /* padding: 16px; */
  border-radius: 12px;
  height: 300px;
}

.write-btn {
  font-family: 'GowunDodum-Regular';
  width: 81%;
  padding: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #444547;
}

.board {
  /* width: 80%; */
  height: 300px;
  /* overflow-y: scroll; */
  padding-left: 10%;
}

/* 스크롤바의 폭 너비 */
.board::-webkit-scrollbar {
  width: 7px;
}

.board::-webkit-scrollbar-thumb {
  background: white;
  /* 스크롤바 색상 */
  border-radius: 10px;
  /* 스크롤바 둥근 테두리 */
}

.board::-webkit-scrollbar-track {
  background: rgba(214, 198, 201, 0.1);
  /*스크롤바 뒷 배경 색상*/
}

.post {
  width: 85%;
  background-color: white;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 12px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-weight: bold;
  color: #444;
}

.post-actions span {
  margin-left: 8px;
  color: #999;
  font-size: 13px;
  cursor: pointer;
}

.post-content {
  font-size: 15px;
  color: #333;
  white-space: pre-wrap;
  margin-bottom: 8px;
  word-break: break-all;
  text-align: left;
}

.post-date {
  font-size: 12px;
  color: #aaa;
  text-align: right;
}

/* 수정 폼 */
.form-box {
  width: 80%;
  height: 89%;
  overflow: hidden;
  background-color: #fefefe;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-box h3 {
  margin-bottom: 12px;
  font-size: 18px;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;     
  gap: 8px;
  flex-wrap: nowrap;       
}

.input-row label {
  flex-shrink: 0;           
  width: 40px;              
  font-weight: bold;
  font-size: 14px;
  /* padding-right: 10px; */
  padding-top: 10px;
}

.underline-input {
  flex: 1 1 auto;           /* 남은 공간 채움, 최소 줄 바꿈 안함 */
  min-width: 80px;          /* 너무 좁아지면 최소폭 */
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 6px 4px;
  font-size: 14px;
  background: transparent;
  outline: none;
  font-family: 'GowunDodum-Regular';
}

/* 여러 줄 밑줄 textarea */
.multi-underline-textarea {
  flex: 1;
  font-size: 14px;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  line-height: 28px;
  height: 135px;
  background-image: linear-gradient(to bottom, 
  transparent 23px,
  #aaa 25px,
  transparent 1px);
  background-size: 100% 29px;
  background-repeat: repeat-y;
  font-family: 'GowunDodum-Regular';
  margin-top: 5px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-row button {
  background-color: #f3efef;
  border: none;
  border-radius: 8px;
  width: 38%;
  color: #444547;
  font-family: 'GowunDodum-Regular';
  height: 35px;
}


.pwCheck-box {
  width: 70%;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.pwCheck-box input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}