/* 전체 앱 정렬 */
body,
html,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 화면 전체 높이 */
    background-color: #333;
}

/* 청첩장 카드 */
.invitation-container {
    background: white;
    /* border-radius: 20px; */
    max-width: 400px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.main-img {
    width: 100%;
    height: 55vh;
    margin-bottom: 5%;
    background-size: cover;
}

.invitation-content {
    padding: 24px;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #e91e63;
    margin: 0px 0px 20px;
}

.date {
    color: #888;
    margin-bottom: 16px;
}

.names {
    font-size: 18px;
    font-weight: 600;
}

.location {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn {
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}


.btn-outline {
    width: 50%;
    padding: 12px;
    background: white;
    border: 2px solid #928f8f;
    color: #928f8f;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 10px;
}

.title {
    color: black;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.2em;
    padding: 1%;
}

.title-name {
    text-align: center;
    letter-spacing: 0.15em;
}

.content-invite h3 {
    text-decoration-line: underline;
    text-underline-offset: 10px;
    padding-bottom: 7%;

}

.content-gallery {
    padding-top: 20%;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}

.profile {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    gap: 20px;
}

.profile-img {
    width: 37%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}


.calendar-wrapper h3 {
    text-decoration-line: underline;
    text-underline-offset: 10px;
    padding-bottom: 10%;
}

.calendar-wrapper p {
    padding-bottom: 10%;
}

.content-directions h3{
    padding-top: 20%;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}

.content-directions p {
    padding-top: 10%;
}